/**
 * Dropdowns
 *
 * Dropdown menu container and contents.
 *
 */

/* Background for the dropdown menu. */
$dropdown-bg:                    #fff !default;
/* Dropdown menu `border-color`. */
$dropdown-border:                rgba(0,0,0,.15) !default;
/* Dropdown menu `border-color` **for IE8**. */
$dropdown-fallback-border:       #ccc !default;
/* Divider color for between dropdown items. */
$dropdown-divider-bg:            #e5e5e5 !default;

/* Dropdown link text color. */
$dropdown-link-color:            $text-color !default;
/* Hover color for dropdown links. */
$dropdown-link-hover-color:      color('gray', 40) !default;
/* Hover background for dropdown links. */
$dropdown-link-hover-bg:         color('gray', 10) !default;

/* Active dropdown menu item text color. */
$dropdown-link-active-color:     $component-active-color !default;
/* Active dropdown menu item background color. */
$dropdown-link-active-bg:        $component-active-bg !default;

/* Disabled dropdown menu item background color. */
$dropdown-link-disabled-color:   color('gray', 30) !default;

/* Text color for headers within dropdown menus. */
$dropdown-header-color:          color('gray', 30) !default;

/* Deprecated `@dropdown-caret-color` as of v3.1.0 */
$dropdown-caret-color:           color('gray', 30) !default;

/**
 * pvdm Caret Settings
 *
 * controls the size of the arrow used within dropdowns
 *
 */

/* Width of the `border` for generating carets that indicator dropdowns. */
$caret-width-base:          4px !default;

/* Carets increase slightly in size for larger components. */
$caret-width-large:         5px !default;

