/**
 * Pill Settings
 *
 */
@import "eyeglass-pvdm-styles/settings";

$nav-pills-active-link-hover-bg:            color('gray', 10) !default;
$nav-pills-active-link-hover-color:         color('gray', 10) !default;

$nav-pills-border-radius:                   0;//$border-radius-base !default;
$nav-pills-active-link-hover-bg:            color('gray', 10); //$component-active-bg !default;
$nav-pills-active-link-hover-color:         color('gray', 10); //$component-active-color !default;

