/**
 * pvdm Blockquotes
 *
 */
@import "eyeglass-pvdm-styles/settings/pvdm-s-typography";

$blockquote-small-color:      color('gray', 30) !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;
$blockquote-border-color:     color('gray', 20) !default;

