/**
 * PVDM Close Icon Settings
 *
 */
@import "eyeglass-pvdm-styles/settings";

$close-font-weight:           normal !default;
$close-color:                 #000 !default;
$close-text-shadow:           none !default;

