/**
 * Typography
 *
 * @TODO audit
 */
@import "eyeglass-pvdm-styles/settings";

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         18px !default;
$font-size-small:         14px !default;

// major second vertical rhythm here and within line-height vars too
$font-size-h1: 25px;
$font-size-h2: 22px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 16px;

/*
default BS: //

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
*/


//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.45 !default; 
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.2 !default;
$headings-color:          inherit !default;


//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;

//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal !default;

//** Horizontal line color.
$hr-border:                   color('gray', 10) !default;

