/**
 * Code
 *
 */
@import "eyeglass-pvdm-styles/settings";

$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;

$kbd-color:                   #fff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   color('gray', 40) !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;

